<!DOCTYPE html>
<html>
<head>
  <title>RubyChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "row">
		<div class="container-fluid">
			<nav class="navbar navbar-default ">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/contacts" >
			       Ruby Challenge - Sample UI Application
			      </a>
			    </div>
			</nav>
		</div>
	</div>
	
	<div class="col-md-12">
		<%= yield %>
	</div>

</body>
</html>
